#footer {
    font-family: Arial, Helvetica, sans-serif;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px 0 100px 0;
    margin: 0;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    background: #181A21;
}
.footer_spacer{
    background-color: #181A21;
    height: 50px;
}
#footer .footer_content {
    width: 940px;
    margin: 0px auto;
    padding-top: 16px;
}

#footer #footer_logo_steam {
    float: right;
    padding-top: 2px;
}

#footer .rule {
    height: 8px;
    border-top: 1px solid #363c44;
}

#footer a {
    text-decoration: none;
    color: #ffffff;
}

#footer #footer_logo img {
    height: 25px;
    width: auto;
}

#footer #footer_logo {
    float: left;
    padding-top: 2px;
}

#footer #footer_text div {
    float: left;
    margin-left: 12px;
    color: #8F98A0;
    font-size: 12px;
    line-height: 16px;
}
#footer #footer_text .bottom_text  {
    padding-bottom: 14px;
}



#footer #footer_text a {
    color: #C6D4DF;
}

#footer .valve_links {
    margin-top: 8px;
    float: left;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #61686D;
}
#footer .valve_links a {
    color: #C6D4DF;
}
#footer .valve_links img {
    vertical-align: bottom;
}
@media (max-width:911px){
    #footer{
        display: none;
    }
}