.page_content .login_container{
    padding: 0px 8px;
    width: 100%;
}
.page_content .login{
    padding-top: 80px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page_content .header_and_main{
    gap:32px;
}
.page_content .login_header{
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: .055em;
    font-weight: 200;
}
.page_content .login_main_part_container{
background-color: #181a21;
border-radius: 4px;
padding: 24px 32px;
flex: 1;
min-width: 636px;
}
.page_content .login_form{
    flex: 1;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr;
}
.page_content .field1{
    display: grid;
    grid-template-areas:
        "label hint"
        "input input";
    grid-template-columns: 1fr min-content;
    gap: 2px;
}
.page_content .field1 .text{
    color: #1999ff;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .02em;
    user-select: none;
}
.page_content .field2{
    display: grid;
    grid-template-areas:
        "label hint"
        "input input";
    grid-template-columns: 1fr min-content;
    gap: 2px;
}
.page_content .field2 .text{
    font-size: 12px;
    color: #afafaf;
    text-transform: uppercase;
    letter-spacing: .02em;
    user-select: none;
}
.page_content input{
    border-radius: 2px;
    color: #fff;
    padding: 10px;
    background-color:#CCD8E3;
    outline: none;
    font-size: 15px;
    grid-area: input;
    border: 1px solid #32353c;
}

.page_content .enter_btn{
    position: relative;
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 12px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    text-align: center;
    letter-spacing: .03em;
    cursor: pointer;
    width: 270px;
}
.page_content .enter_btn_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}